body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
}

/* ======= Container ====== */

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* ======= Main ====== */

.main {
    height: 960px;

    background: url("images/back_pc.png") center no-repeat;
    background-size: cover;
}

.main__block {
    padding-top: 15%;
    vertical-align: middle;
    flex-direction: column;
    text-align: center;
}

.main__block h1 {
    margin-top: 50px;
    color: black;
    opacity: 0.8;
    font-size: 36px;
    font-weight: 600;
}

.main__block h2 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 50px;
}

.positive__main {
    color: #9fd356; 
}

.negative__main {
    color: #3c91e6; 
}

/* ======= Button ====== */

.btn {
    display: inline-block;
    vertical-align: top;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    padding: 14px 40px 14px 40px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;

    transition: box-shadow .2s linear;
}

.btn--gradient {
    background: linear-gradient(to right, #3c91e6, #9fd356);
}

.btn--gradient:hover {
    box-shadow: 0 2px 10px #6c7279;
}

/* ======= Media ====== */

@media (max-width: 730px) {

    /* ======= Main ====== */

    .main {
        background: url("images/intro_bg_2_mobile.png") bottom no-repeat;
        background-size: 400px;
        height: 850px;
    }

    .main__block {
        width: 100%;
        padding-top: 30px;
    }
    
    .main__block h1 {
        font-size: 36px;
    }

    .main__block h2 {
        font-size: 18px;
    }

    .main__block img {
        width: 300px;
    }    
}